.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.square {
  width: 30%;
  padding-top: 8%;
  padding-bottom: 8%;
  box-sizing: border-box;
  margin: 0.5%;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.black {
  background-color: black;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}

.gray {
  background-color: gray;
}
.pink {
  background-color: pink;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 2px solid black;
  margin: auto;
}
